<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2> Dodaj nowego pacjenta</h2>
     <form action="/add" method="POST">
        <label>Id pacjenta: <input type="text" name="patient_id" required></label><br>
        <label>Imię: <input type="text" name="name" required></label><br>
         <label>Drugie imię: <input type="text" name="middleName" required></label><br>
        <label>Nazwisko: <input type="text" name="surname" required></label><br>
        <label>Wiek: <input type="number" name="age" required></label><br>
         <label>Numer wizyty <input type="text" name="visitNumber" required></label><br>
         <label>Opis <input type="text" name="description" required></label><br>
        <label>Lekarz <input type="text" name="doctor" required></label><br>
         <label>Imię lekarza<input type="text" name="nameDoctor" required></label><br>
         <label>Nazwisko lekarza<input type="text" name="surnameDoctor" required></label><br>


        <label>Recepta<input type="text" name="prescription" required></label><br>
         <label>Data<input type="text" name="refferal" required></label><br>

        <button type="submit">Wwpisz do bazy</button>
    </form>

</body>
</html>